.sidebar {
    color: white;
    width: 300px;
    background-color: #16232f;
    position: absolute;
    right: -300px; /* Start off-screen */
    top: 10%;
    padding: 1rem;
    height: max-content;
    transition: transform 0.3s ease-in-out, right 0.3s ease-in-out; /* Smooth transition */
    transform: translateY(300%) translateX(50%);
    z-index: 9999999;
  }
  
  .sidebar.open {
      right:0; 
    transform: translateY(0) translateX(0); 
  }
  
 .sidebar li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem;
    cursor: pointer;
 }
 .sidebar li:hover{
    color: yellow;
 }
 
 .sidebar a:active li{
    color: yellow;
 }