.wishlist-container{
padding: 0.8rem 0.8rem 0.8rem 1.5rem;
cursor: pointer;
}

.wishlist-container>svg{
    color: white;
}
.wishlist-container:hover>svg{
    color: yellow;
}

@media screen and (max-width: 650px) {
    .wishlist-container {
        position: absolute;
        top: 0px;
        left: 329px;
    }
}